exValide2/proj.android/obj/
exValide2/proj.win32/Debug_v100/
*.sdf
*.opensdf
exValide2/proj.android/libs/armeabi-v7a/libSDL2.so
exValide2/proj.android/libs/armeabi-v7a/libmain.so
*.ipch
exValide2/proj.cmake/build/
exValide2/proj.win32/Debug_v140/
exValide2/proj.ios/MyAwesomeGame_ios.xcodeproj/xcuserdata
exValide2/proj.ios/MyAwesomeGame_ios.xcodeproj/project.xcworkspace/xcuserdata
exValide2/proj.emscripten/build/
exValide2/proj.emscripten/build_release/
exValide2/proj.emscripten/data.js
exValide2/proj.cmake/build_emsc/
exValide2/proj.cmake/build_emsc_release/
exValide2/proj.android/.gradle/
exValide2/proj.android/build/
*.VC.db
*.suo
exValide2/proj.android/bin/
exValide2/proj.android/gen/
exValide2/proj.win32/Debug_v140_xp/
exValide2/proj.cmake/data.js
exValide2/proj.win32/Release_v141/
exValide2/proj.win32/Debug_v141/
exValide2/proj.win32/.vs/
exValide2/Debug_v141/
